* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1em;
  font-family: sans-serif;
}

.rating-button,
.rate {
  line-height: 64px;
  font-size: 32px;
  color: #fff;
  background-color: #555;
}

.rating-button:hover {
  cursor: pointer;
  background-color: #333;
}

.rating-button span,
.rate {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  text-align: center;
}

.rating-button {
  display: block;
  margin: 0 auto;
  padding: .5em 1em;
  border: none;
  border-radius: 4px;
}

.rating-button span {
  display: block;
}

.rating-button span,
.rate.selected {
  background-color: #ffab13;
}

.rate {
  display: inline-block;
  margin: 0 2px;
  transition: all .1s ease-in-out;
  opacity: 0.7;
}

.rate.active {
  opacity: 1;
}

.rate:hover {
  transform: scale(1.4);
  cursor: pointer;
}

ai-dialog-overlay.active {
  opacity: 0.5 !important;
  background-color: #000;
}
